.header {
    position: relative;
}

.search__item {
    position: absolute;
    right: 0;
}

.search__input {
    width: 75%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: #eee;
}

.search__button {
    width: 23%;
    height: 35px;
    border-style: none;
    background-color: rgb(38, 81, 207);
    border-radius: 5px;
    color: white;
}